{% extends 'blog/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>

{% block content %}
    <div class="form-container" style="border: 1px solid black; width: 500px; padding: 10px; background-color: rgb(251, 248, 248);">
        <h2>Sign Up</h2>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <br>
                <div class="form-group" style="display: flex; justify-content: space-between;">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <br>
            <button type="submit" class="submit-btn">Sign Up</button>
        </form>
    </div>
{% endblock %}
</body>
</html>
